## DATA-6550 Algorithmic Bias Analysis
#### Stiven Lavrenov

### Library Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# import statsmodels
# import statsmodels.api as sm

---

### Import Data

In [2]:
df = pd.read_csv('../../Data/mortgage_covenant_data.csv')
df.head(2)

,activity_year,census_tract,derived_race,action_taken,loan_amount,property_value,income,interest_rate,tract_minority_population_percent,tract_to_msa_income_percentage,denial_reason-1,covenant_count,was_approved,covenant_density
0,2023,2.703706e+10,Race Not Available,6,185000.0,195000.0,NaN,6.125,40.37,73.48,10,0.0,False,NaN
1,2023,2.714103e+10,Race Not Available,6,375000.0,385000.0,NaN,6.625,10.64,121.26,10,0.0,False,NaN

---

### Data Cleaning + Processing

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100931 entries, 0 to 100930
Data columns (total 14 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   activity_year                      100931 non-null  int64
 1   census_tract                       99915 non-null   float64
 2   derived_race                       100931 non-null  object
 3   action_taken                       100931 non-null  int64
 4   loan_amount                        100931 non-null  float64
 5   property_value                     83491 non-null   float64
 6   income                             88200 non-null   float64
 7   interest_rate                      78125 non-null   float64
 8   tract_minority_population_percent  100931 non-null  float64
 9   tract_to_msa_income_percentage     100931 non-null  float64
 10  denial_reason-1                    100931 non-null  int64
 11  covenant_count                     100931 non-null  float64
 12  was_approved                       100931 non-null  bool
 13  covenant_density                   11169 non-null   object
dtypes: bool(1), float64(8), int64(3), object(2)
memory usage: 10.1+ MB

In [4]:
df['action_taken'] = df['action_taken'].map({1 : 'Loan originated', 2 : 'Application approved but not accepted', 3 : 'Application denied',
                                             4 : 'Application withdrawn by applicant', 5 : 'File closed for incompleteness', 6 : 'Purchased loan',
                                             7 : 'Preapproval request denied', 8 : 'Preapproval request approved but not accepted'})

df['denial_reason-1'] = df['denial_reason-1'].map({1 : 'Debt-to-income ratio', 2 : 'Employment history', 3 : 'Credit history',
                                                   4 : 'Collateral', 5 : 'Insufficient cash (downpayment, closing costs)', 6 : 'Unverifiable information',
                                                   7 : 'Credit application incomplete', 8 : 'Mortgage insurance denied', 9 : 'Other',
                                                   10 : 'Not applicable', 1111 : 'Exempt'})

df['covenant_density'].fillna('None (0)', inplace = True)
df['property_value'].fillna(df['property_value'].median(), inplace = True)
df['income'].fillna(df['income'].median(), inplace = True)
df['interest_rate'].fillna(df['interest_rate'].median(), inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100931 entries, 0 to 100930
Data columns (total 14 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   activity_year                      100931 non-null  int64
 1   census_tract                       99915 non-null   float64
 2   derived_race                       100931 non-null  object
 3   action_taken                       100931 non-null  object
 4   loan_amount                        100931 non-null  float64
 5   property_value                     100931 non-null  float64
 6   income                             100931 non-null  float64
 7   interest_rate                      100931 non-null  float64
 8   tract_minority_population_percent  100931 non-null  float64
 9   tract_to_msa_income_percentage     100931 non-null  float64
 10  denial_reason-1                    100931 non-null  object
 11  covenant_count                     100931 non-null  float64
 12  was_approved                       100931 non-null  bool
 13  covenant_density                   100931 non-null  object
dtypes: bool(1), float64(8), int64(1), object(4)
memory usage: 10.1+ MB